@model IEnumerable<LibraryWebApp.Models.LibraryViewModels.FavouriteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Favourites</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Favourite.Comment)
            </th>
            <th>
                Link
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Favourite.Comment)
            </td>
            <td>
                <a asp-action="ItemDetails" asp-route-id="@item.Favourite.ItemIndex">Link to Item</a>
            </td>
            
            <td>
                <a asp-action="FavouriteEdit" asp-route-id="@item.Favourite.FavouriteId">Edit</a> |
                <a asp-action="FavouriteDetails" asp-route-id="@item.Favourite.FavouriteId">Details</a> |
                <a asp-action="FavouriteDelete" asp-route-id="@item.Favourite.FavouriteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
