@model LibraryWebApp.Models.LibraryViewModels.ItemMovementViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemMovement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User
        </dt>
        <dd>
            @ViewData["ApplicationUserId"]
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ItemMovement.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemMovement.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemMovement.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemMovement.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemMovement.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemMovement.Deadline)
        </dd>
        <dt>
            Librarian
        </dt>
        <dd>
            @ViewData["LibrarianId"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemMovement.MovementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemMovement.MovementType)
        </dd>
        <dt>
            Title
        </dt>
        <dd>
            @ViewData["TitleName"]
        </dd>
        <dt>
            Item Id
        </dt>
        <dd>
            @ViewData["ItemId"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ItemMovementEdit" asp-route-id="@Model.ItemMovement.ItemMovementId">Edit</a> |
    <a asp-action="ItemMovementIndex">Back to List</a>
</div>
