@model IEnumerable<LibraryWebApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
{
<p>
    <a asp-action="ItemCreate">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Section
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                Current Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Section.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>

                @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                {
                <a asp-action="ItemEdit" asp-route-id="@item.ItemId">Edit |</a>
                <a asp-action="ItemDetails" asp-route-id="@item.ItemId">Details |</a> 
                <a asp-action="ItemDelete" asp-route-id="@item.ItemId">Delete |</a> 
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Librarian") || User.IsInRole("RegUser"))
                {
                <a asp-action="ItemAddToFavourites" asp-route-id="@item.ItemId">Add To Favourites</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
