@model LibraryWebApp.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h2>Add to favourites</h2>

<h3>Are you sure you want to add this item to your favourites list?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>
    </dl>
    
    <form asp-action="ItemAddToFavourites">
        <div class="form-actions no-color">
            <input type="submit" value="Add To Favourites" class="btn btn-default" /> |
            <a asp-action="ItemIndex">Back to List</a>
        </div>
    </form>
</div>
