@model LibraryWebApp.Models.LibraryViewModels.ItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.CurrentLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.CurrentLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Material)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Material)
        </dd>
        <dt>
             Title Name
        </dt>
        <dd>
            @ViewData["TitleName"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ItemEdit" asp-route-id="@Model.Item.ItemId">Edit</a> |
    <a asp-action="ItemIndex">Back to List</a>
</div>
