@model LibraryWebApp.Models.LibraryViewModels.SectionViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Section.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SectionEdit" asp-route-id="@Model.Section.SectionId">Edit</a> |
    <a asp-action="SectionIndex">Back to List</a>
</div>
