@model IEnumerable<LibraryWebApp.Models.LibraryViewModels.SectionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
{
<p>
    <a asp-action="SectionCreate">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Section.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                {
                <a asp-action="SectionEdit" asp-route-id="@item.Section.SectionId">Edit |</a>
                <a asp-action="SectionDetails" asp-route-id="@item.Section.SectionId">Details |</a>
                <a asp-action="SectionDelete" asp-route-id="@item.Section.SectionId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
