@model LibraryWebApp.Models.LibraryViewModels.TitleViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title.Annotation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Annotation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TitleEdit" asp-route-id="@Model.Title.TitleId">Edit</a> |
    <a asp-action="TitleIndex">Back to List</a>
</div>
