@model IEnumerable<LibraryWebApp.Models.LibraryViewModels.TitleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
{
<p>
    <a asp-action="TitleCreate">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title.Annotation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.Section.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Annotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Section.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                {
                <a asp-action="TitleEdit" asp-route-id="@item.Title.TitleId">Edit |</a> 
                <a asp-action="TitleDetails" asp-route-id="@item.Title.TitleId">Details |</a>
                <a asp-action="TitleDelete" asp-route-id="@item.Title.TitleId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
