@model LibraryWebApp.Models.LibraryViewModels.TitleViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title.Annotation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Annotation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title.Year)
        </dd>
    </dl>
    
    <form asp-action="TitleDelete">
        <input type="hidden" asp-for="Title.TitleId" />
        <input type="hidden" asp-for="Title.RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="TitleIndex">Back to List</a>
        </div>
    </form>
</div>
