@model IEnumerable<LibraryWebApp.Models.LibraryViewModels.ApplicationUserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Account" asp-action="RegisterUserByAdmin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <a asp-action="UserEdit" asp-route-id="@item.ApplicationUser.Id">Edit</a> |
                <a asp-action="UserDetails" asp-route-id="@item.ApplicationUser.Id">Details</a> |
                <a asp-action="UserDelete" asp-route-id="@item.ApplicationUser.Id">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
